<<<<<<< HEAD
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#tarjeta {
    background-color: #D0D1D3; width: 440px; height: 700px;
    display: block; margin: auto; margin-top: 20px;
    text-align: center;
}

#imagen {
    width: 340px; 
    display: block;
    margin: auto;
    padding-top: 100px;
}

#titulo {

    
    font-size: 25px;
    font-weight: 100;
    padding-top: 60px;

}

#texto {
    
    font-size: 15.8px;
    font-weight: 100;
    padding-top: 28px;
    text-align: left;
    width: 400px;
    display: block;
    margin: auto;
    line-height: 25px;

}

#boton {
    background-color: red;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 25px;
    display: block;
    margin: auto;
    margin-top: 48px;
    
    
=======
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#tarjeta {
    background-color: #D0D1D3; width: 440px; height: 700px;
    display: block; margin: auto; margin-top: 20px;
    text-align: center;
}

#imagen {
    width: 340px; 
    display: block;
    margin: auto;
    padding-top: 100px;
}

#titulo {

    
    font-size: 25px;
    font-weight: 100;
    padding-top: 60px;

}

#texto {
    
    font-size: 15.8px;
    font-weight: 100;
    padding-top: 28px;
    text-align: left;
    width: 400px;
    display: block;
    margin: auto;
    line-height: 25px;

}

#boton {
    background-color: red;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 25px;
    display: block;
    margin: auto;
    margin-top: 48px;
    
    
>>>>>>> 5bb8d72929bb8e668aef3b39e766f4f7dbd4993f
}